<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />

     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <meta name="keywords" content="bartholomew, financial, literacy, coalition" />
     <meta name="description" content="Bartholomew County Financial Literacy Coalition" />
    {# make sure we always display a proper title: The record's title if there is one, appended with the
       sitename. If there is no title, we append the sitename with the payoff, if there is one. #}
    <title>
      {% if record.title is defined %}{{ record.title|striptags }} | {% endif %}
      {{ config.get('general/sitename') }}
      {% if record.title is not defined and app.config.general.payoff is defined %} | {{ app.config.general.payoff }}{% endif %}
    </title>

    <!--Favicon-->
    <!--<link rel="icon" href="../files/favicon.ico" sizes="any" type="image/x+icon">-->
    <link rel="icon" href="../files/favicon-16x16.png" sizes="any" type="image/x+icon">
    <!--End of Favicon-->

    {# Stylesheet for Bootstrap #}
    <!--<link rel="stylesheet" href="{{ paths.theme }}css/bcflc2.css">-->
    <link rel="stylesheet" href="{{ paths.theme }}css/bootstrap.css">
    <link rel="stylesheet" href="{{ paths.theme }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ paths.theme }}css/bootstrap-theme.css">
    <link rel="stylesheet" href="{{ paths.theme }}css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ paths.theme }}css/bootstrap-responsive.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    
    {# Javascript for Bootstrap #}
  <script src="{{ paths.theme }}js/jquery-1.11.3.min.js"></script>
    <script src="{{ paths.theme }}js/bootstrap.js"></script> 
    <script src="{{ paths.theme }}js/bootstrap.min.js"></script>
    <script src="{{ paths.theme }}js/bootstrap-dropdown.js"></script>
    <script src="{{ paths.theme }}js/npm.js"></script>

    <script type="text/javascript" src="http://cdn.mlcalc.com/widget-api.js"></script>
  
    <link rel="stylesheet" href="{{ paths.theme }}css/bcflc3.css">

<!--     <style>

    </style>
-->
</head>
<body>

	<div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <div class="container">

        <div class="navbar">
          
            <div class="navbar-inner">
              <div class="navbar-header">

              <!-- Logo -->
            <!--<a class="brand" href="{{ paths.root }}"> <img src="../files/bcflclogo.png"/></a> -->
            <a class="brand" href="{{ paths.root }}"> <img src="../files/Logo/logo_full_lightbg.png" height="60%" width="60%"/></a>

              <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">

                <a href="#"> Menu
                  <span class="glyphicon glyphicon-th-list"></span>
                </a>

              </button>

             
            </div>

            <!-- End Logo -->

            <div class="donate">
                           <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="XTK7W5XDRLR88">
     <!-- <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"> -->
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <!-- <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"> -->
      </form> 
      </div> 

      <div class="volunteer">
        <div class="volunteer-inner">
          {% setcontent ct = '/page/volunteer-opportunities' %}
          <a href="{{ ct.link }}">VOLUNTEER</a>
          </div>
      </div>
              

            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <div class="collapse navbar-collapse">
              <!-- Search bar -->
            <div class="navbar-right">

              <div class="search-icon-sec">
                <!-- <a href="#"><span class="glyphicon glyphicon-user">&nbsp;</span>Sign in</a> -->

                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Please click in the area to the right to search."><span class="glyphicon glyphicon-search search-icon"></span></a>
              </div>
              <div class="search-text">
                {% include '_sub_searchbox.twig' %}
              </div>
            </div>
            <!-- End Search bar -->
              <ul class="nav navbar-nav navbar-center">
                
              	{{ menu('main', '_sub_menu.twig') }}

            	

              </ul>

              
            </div><!--/.navbar-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->

      </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->

                    <script>
                  $(document).ready(function(){
                  $('[data-toggle="tooltip"]').tooltip(); 
                  });
                </script>